body {
    background-color: #f9f7fe;
    font-family: monospace;
    margin: 0;
    padding: 0 20px;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-family: monospace;
    margin-bottom: 40px;
    background-color: #f9f7fe;
    cursor: pointer;
    border: 1px solid #dbcdfb;
    border-radius: 4px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}

h2 {
    margin: 0 0 5px;
    font-size: 15px;
}

footer {
    text-align: center;
    font-size: 10px;
    margin: 0 10px;
    color: #98969b;
}

img {
    margin-bottom: 20px;
    max-width: 130px;
}

a {
    color: hsla(257, 84%, 65%, 0.6);
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  
  a:hover {
    color: hsla(0, 0%, 0%, 0.5);
  }
  
  a::before {
    background-color: hsla(257, 84%, 65%, 0.3);
    bottom: -1px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
  }
    
  a:hover::before {
    height: 100%;
  }


.container {
    max-width: 550px;
    margin: 60px auto;
    background: white;
    padding: 24px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 25px;
    font-weight: bold;
}

.time small {
    font-size: 10px;
    vertical-align: middle;
}


